/* Font */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap");
* {
  font-family: "Open Sans", sans-serif;
}
.current-weather img {
  max-width: 120px;
  margin-top: -15px;
}

#search-history {
  /* Adds some space above the buttons */
  margin-top: 1rem; 
}

#search-history button {
  /* Example: Blue background color */
  background-color: rgb(24, 97, 24); 
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  /* Space between buttons */
  margin-bottom: 0.5rem; 
  /* Rounded corners */
  border-radius: 5px; 
  /* Indicates that it's clickable */
  cursor: pointer; 
}

#search-history button:hover {
  /* Example: Darker blue on hover */
  background-color: green; 
}
